/*
* This file use declarations, functions and mixins from
* config/_typography.scss
*/
:root {
  --title1  : #{fontSize(title1)};
  --title2  : #{fontSize(title2)};
  --title3  : #{fontSize(title3)};
  --normal  : #{fontSize(normal)};
  --small   : #{fontSize(small)};
  --smaller : #{fontSize(smaller)};
  @include to(l) { 
    --title1  : #{fontSize(title2)};
    --title2  : #{fontSize(title3)};
    --title3  : #{fontSize(normal)};
  }
}

body {
  font-family : $body-font;
  font-size   : var(--normal);
  font-weight : 400;
  line-height : 1.6;
  color       : var(--text-color);
}

h1, h2, h3, h4, h5, h6,
.t1, .t2, .t3, .t4 {
  font-family    : $heading-font;
  font-weight    : 700;
  letter-spacing : -0.01em;
  line-height    :  1.3;
}

// classes for font-family
.body-font { font-family : $body-font }
.heading-font { font-family : $heading-font }

// Set font sizes
h1, .t1         { font-size : var(--title1); }
h2, .t2         { font-size : var(--title2); }
h3, .t3         { font-size : var(--title3); }
h4, .t4         { font-size : var(--normal); }
h5, .small      { font-size : var(--small); }
h6, .smaller    { font-size : var(--smaller); }

// Blockquote
blockquote {
  font-size      : var(--title3); 
  font-style     : italic;
  letter-spacing : .01em;
  margin-left    : 4rem;
  position       : relative;
  opacity        : .9;

  &::before {
    content        : "\201C";
    font-family    : Georgia, serif;
    font-size      : 3em;
    position       : absolute;
    top            : .5em;
    left           : -.6em;
    line-height    : 0;
    letter-spacing : -0.5em;
  }
}

// Enlaces
// Menu links doesn't have underline
a {
  color : var(--second-color);

  main & {
    text-decoration : none;
  }
}

::selection {
  background : var(--second-color);
  color      : #FFF;
}
