mixin banner(img, title, description, clase, boton, autor)
  div.responsive-container.container.mx-auto.rounded-lg(class='main-banner--' + clase + ' main-banner')
    .rex-container.absolute.w-full.h-full.top-0.left-0
      .rex-container.justify-end.items-center(class="xl:justify-center")
        img(src=img).main-banner__img
        .main-banner__data.pr-10
          h1.text-2xl.text-shadow-retro(class="xl:text-6xl lg:text-5xl md:text-4xl sm:text-3xl sm:block").uppercase= title
          if (description !== '')
            //- p.subtitle= description
          if (boton)
            //- a(href="#").button--cta.small.center Modelo de botón
          if (autor)
            .main-banner__author
              a(href="#")
                img(src="https://ed.team/sites/default/files/styles/thumbnail/public/pictures/2017-11/alexys_0.jpg?itok=MMRiEdrl").main-banner__author-img
              a(href="#")
                .main-banner__author-name Alexys Lozada
