extends layouts/template
append config
	-currentPage = 'Contactos'
block banner
	.mx-auto.px-0.max-w-8xl
		+banner(path_media + 'images/slides/slide01.jpg',  currentPage, '', '', true, false)
block main
	.rex-item.l-25.py-2.pl-2.pr-2.text-center(class="lg:pr-0")
		h2.title.pl-3.py-3.text-white.uppercase.mb-3.rounded-lg Contáctenos
		form.rex-container.form(v-on:submit.prevent="submitForm")
			.rex-item.form__item
				label.form__label(for="") Nombre completo: 
				input.form__input(v-model="vue.nombre" type="text" required="")
			.rex-item.form__item
				label.form__label(for="") Teléfono: 
				input.form__input(v-model="vue.telefono" type="number")
			.rex-item.form__item
				label.form__label(for="") Celular: 
				input.form__input(v-model="vue.movil" type="number" required="")
			.rex-item.form__item
				label.form__label(for="") Dirección: 
				input.form__input(v-model="vue.direccion" type="text" required="")
			.rex-item.form__item
				label.form__label(for="") Ciudad: 
				input.form__input(v-model="vue.ciudad" type="text" required="")
			.rex-item.form__item
				label.form__label(for="") Email: 
				input.form__input(v-model="vue.email" type="email" required="")
			.rex-item.form__item
				label.form__label(for="") Mensaje: 
				textarea.form__input(v-model="vue.mensaje" name="", cols="30", rows="10" required="")
			.rex-item.form__item.flex.justify-center
				button.button.small.mx-2.py-2.px-4(type="submit") Enviar
				button.button.small.mx-2.py-2.px-4(type="submit" v-on:click="clearForm()") Limpiar
			.statusMessage(v-if="formSubmitted")
				h4(v-text="vue.envio")
	.rex-item.l-75.py-2.px-2
		h2.title.pl-3.py-3.bg-green-600.text-white.uppercase.mb-3.text-center.rounded-lg Ubíquenos
		google-map