extends layouts/template
append config
  -currentPage = 'Coros y Orquestas'
block banner
  .mx-auto.px-0.max-w-8xl
    +banner(path_media + 'images/slides/slide04.jpg',  currentPage, '', '', true, false)
  //- include components/flux-slider.html
block main
  .rex-item.rex-container
    h2.title.pl-3.py-3.bg-green-600.text-white.uppercase.m-2.text-center.rounded-lg.w-full
      span= slogan
    p.px-3.mb-2.text-base.text-center.w-full
      | El Coro y Orquesta principal vienen realizando conciertos durante el último tiempo, cosechando aplausos de un nuevo público sediento de un nuevo sonido pulcro y solido.
  .rex-item.rex-container
    //- h3.title-2.pl-3.py-3.bg-green-400.text-white.uppercase.m-2.text-center.rounded-lg.w-full
      span= slogan
  <div class="gallery grid-4col">
    <div class="p-1">
      a.relative.block.overflow-hidden.rounded(href= path_media + "images/coros-orquestas/coros-orquestas01-800.jpg")
        img.scale-1-2(src= path_media + "images/coros-orquestas/coros-orquestas01-100.jpg", alt=slogan)
        .gallery-pall
          <svg width="30" height="30" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-search-plus fa-w-16 fa-3x"><path fill="currentColor" d="M304 192v32c0 6.6-5.4 12-12 12h-56v56c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-56h-56c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h56v-56c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v56h56c6.6 0 12 5.4 12 12zm201 284.7L476.7 505c-9.4 9.4-24.6 9.4-33.9 0L343 405.3c-4.5-4.5-7-10.6-7-17V372c-35.3 27.6-79.7 44-128 44C93.1 416 0 322.9 0 208S93.1 0 208 0s208 93.1 208 208c0 48.3-16.4 92.7-44 128h16.3c6.4 0 12.5 2.5 17 7l99.7 99.7c9.3 9.4 9.3 24.6 0 34zM344 208c0-75.2-60.8-136-136-136S72 132.8 72 208s60.8 136 136 136 136-60.8 136-136z" class=""></path></svg>
    </div>
    <div class="p-1">
      a.relative.block.overflow-hidden.rounded(href= path_media + "images/coros-orquestas/coros-orquestas02-800.jpg")
        img.scale-1-2(src= path_media + "images/coros-orquestas/coros-orquestas02-100.jpg", alt=slogan)
        .gallery-pall
          <svg width="30" height="30" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-search-plus fa-w-16 fa-3x"><path fill="currentColor" d="M304 192v32c0 6.6-5.4 12-12 12h-56v56c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-56h-56c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h56v-56c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v56h56c6.6 0 12 5.4 12 12zm201 284.7L476.7 505c-9.4 9.4-24.6 9.4-33.9 0L343 405.3c-4.5-4.5-7-10.6-7-17V372c-35.3 27.6-79.7 44-128 44C93.1 416 0 322.9 0 208S93.1 0 208 0s208 93.1 208 208c0 48.3-16.4 92.7-44 128h16.3c6.4 0 12.5 2.5 17 7l99.7 99.7c9.3 9.4 9.3 24.6 0 34zM344 208c0-75.2-60.8-136-136-136S72 132.8 72 208s60.8 136 136 136 136-60.8 136-136z" class=""></path></svg>
    </div>
    <div class="p-1">
      a.relative.block.overflow-hidden.rounded(href= path_media + "images/coros-orquestas/coros-orquestas03-800.jpg")
        img.scale-1-2(src= path_media + "images/coros-orquestas/coros-orquestas03-100.jpg", alt=slogan)
        .gallery-pall
          <svg width="30" height="30" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-search-plus fa-w-16 fa-3x"><path fill="currentColor" d="M304 192v32c0 6.6-5.4 12-12 12h-56v56c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-56h-56c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h56v-56c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v56h56c6.6 0 12 5.4 12 12zm201 284.7L476.7 505c-9.4 9.4-24.6 9.4-33.9 0L343 405.3c-4.5-4.5-7-10.6-7-17V372c-35.3 27.6-79.7 44-128 44C93.1 416 0 322.9 0 208S93.1 0 208 0s208 93.1 208 208c0 48.3-16.4 92.7-44 128h16.3c6.4 0 12.5 2.5 17 7l99.7 99.7c9.3 9.4 9.3 24.6 0 34zM344 208c0-75.2-60.8-136-136-136S72 132.8 72 208s60.8 136 136 136 136-60.8 136-136z" class=""></path></svg>
    </div>
    <div class="p-1">
      a.relative.block.overflow-hidden.rounded(href= path_media + "images/coros-orquestas/coros-orquestas04-800.jpg")
        img.scale-1-2(src= path_media + "images/coros-orquestas/coros-orquestas04-100.jpg", alt=slogan)
        .gallery-pall
          <svg width="30" height="30" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-search-plus fa-w-16 fa-3x"><path fill="currentColor" d="M304 192v32c0 6.6-5.4 12-12 12h-56v56c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-56h-56c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h56v-56c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v56h56c6.6 0 12 5.4 12 12zm201 284.7L476.7 505c-9.4 9.4-24.6 9.4-33.9 0L343 405.3c-4.5-4.5-7-10.6-7-17V372c-35.3 27.6-79.7 44-128 44C93.1 416 0 322.9 0 208S93.1 0 208 0s208 93.1 208 208c0 48.3-16.4 92.7-44 128h16.3c6.4 0 12.5 2.5 17 7l99.7 99.7c9.3 9.4 9.3 24.6 0 34zM344 208c0-75.2-60.8-136-136-136S72 132.8 72 208s60.8 136 136 136 136-60.8 136-136z" class=""></path></svg>
    </div>
  </div>
  div.flex.flex-wrap.w-full.mt-5
    <div class="md:w-1/2 w-full flex flex-wrap justify-center items-center content-center mb-6">
      p.text-center.w-full: b <span class="text-2xl">¿</span> Te gustaría formar parte de un coro <span class="text-2xl">?</span>
      p.text-center.w-full.text-2xl.mb-3 ¡Ven con nosotros!
      <a href="/solicitud-de-audicion" class="border-ridge border-green-300 flex items-center justify-center leading-none h-12 button text-white font-bold py-2 px-4 rounded-full hover:text-gray-100 bg-accent-500 border-accent-400 hover:bg-accent-500"><span class="text-xs">SOLICITA TU AUDICIÓN</span></a>
    </div>
    <div class="md:w-1/2 w-full flex flex-wrap justify-center items-center content-center">
      ul
        li.flex
          <svg width="20" height="20" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-check-circle fa-w-16 fa-3x"><path fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" class="text-accent-500"></path></svg>
          span.pl-2 Presentaciones cada trimestre.
        li.flex
          <svg width="20" height="20" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-check-circle fa-w-16 fa-3x"><path fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" class="text-accent-500"></path></svg>
          span.pl-2 Tenemos diferentes elencos con diferentes niveles.
        li.flex
          <svg width="20" height="20" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-check-circle fa-w-16 fa-3x"><path fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" class="text-accent-500"></path></svg>
          span.pl-2 No puedes quedar fuera‼️
      //- | Llama al ☎️2222715 para RESERVAR TU CUPO
      //- | O ingresa a nuestro formulario de postulacion para que puedas agendar tu audicion y te esperemos
      //- | https://docs.google.com/forms/d/1_Gi6s77HZeRT4Rb-k5E10lixlKIun1EwsJxR0p6GtiE/viewform?fbclid=IwAR2qRf_SGdpTWFnzgksZ-jihw-1rYAL6jk72-lyu_KiFlyWkbf8Xy1OXMa4&edit_requested=true
    </div>
  <div class="grid-2col">
    <div class="p-1">
      a.relative.block.overflow-hidden.rounded(href= path_page + "solicitud-de-audicion")
        img.scale-1-2(src= path_media + "images/audiciones-corales.jpg", alt=slogan)
        //- .gallery-pall
          <svg width="30" height="30" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-search-plus fa-w-16 fa-3x"><path fill="currentColor" d="M304 192v32c0 6.6-5.4 12-12 12h-56v56c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-56h-56c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h56v-56c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v56h56c6.6 0 12 5.4 12 12zm201 284.7L476.7 505c-9.4 9.4-24.6 9.4-33.9 0L343 405.3c-4.5-4.5-7-10.6-7-17V372c-35.3 27.6-79.7 44-128 44C93.1 416 0 322.9 0 208S93.1 0 208 0s208 93.1 208 208c0 48.3-16.4 92.7-44 128h16.3c6.4 0 12.5 2.5 17 7l99.7 99.7c9.3 9.4 9.3 24.6 0 34zM344 208c0-75.2-60.8-136-136-136S72 132.8 72 208s60.8 136 136 136 136-60.8 136-136z" class=""></path></svg>
    </div>
    <div class="p-1">
      a.relative.block.overflow-hidden.rounded(href= path_page + "solicitud-de-audicion")
        img.scale-1-2(src= path_media + "images/audiciones-orquestales.jpg", alt=slogan)
        //- .gallery-pall
          <svg width="30" height="30" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-search-plus fa-w-16 fa-3x"><path fill="currentColor" d="M304 192v32c0 6.6-5.4 12-12 12h-56v56c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-56h-56c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h56v-56c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v56h56c6.6 0 12 5.4 12 12zm201 284.7L476.7 505c-9.4 9.4-24.6 9.4-33.9 0L343 405.3c-4.5-4.5-7-10.6-7-17V372c-35.3 27.6-79.7 44-128 44C93.1 416 0 322.9 0 208S93.1 0 208 0s208 93.1 208 208c0 48.3-16.4 92.7-44 128h16.3c6.4 0 12.5 2.5 17 7l99.7 99.7c9.3 9.4 9.3 24.6 0 34zM344 208c0-75.2-60.8-136-136-136S72 132.8 72 208s60.8 136 136 136 136-60.8 136-136z" class=""></path></svg>
    </div>
  </div>
  