extends layouts/template
append config
  -currentPage = 'Escuela de Música'
  - 
    school = [
      {
        name: 'Clase individual de violin',
        src: 'images/escuela-musica/01.jpg',
        type: 'Cuerdas',
        description: 'Pedagogía y metodología propia'
      },
      {
        name: 'Clase individual de canto',
        src: 'images/escuela-musica/02.jpg',
        type: 'Canto',
        description: 'Práctico y metodología propia'
      },
      {
        name: 'Clase de canto (grupal)',
        src: 'images/escuela-musica/03.jpg',
        type: 'Canto',
        description: 'Metodología propia'
      },
      {
        name: 'Clases de violin (grupal)',
        src: 'images/escuela-musica/04.jpg',
        type: 'Cuerdas',
        description: 'Dos veces por semana hora y media cada clase.'
      },
    ]
block banner
  .mx-auto.px-0.max-w-8xl
    +banner(path_media + 'images/slides/slide06.jpg',  currentPage, '', '', true, false)
  //- include components/flux-slider.html
block main
  .rex-item.rex-container
    h2.title.pl-3.py-3.bg-green-600.text-white.uppercase.m-2.text-center.rounded-lg.w-full
      span= slogan
    p.px-2.mb-3.w-full.text-center.text-xl(class="lg:text-2xl") Escuela de enseñanza y clases de música en ciudad La Paz, Bolivia en las siguientes categorias
  //- .rex-item.rex-container.mx-auto.w-full.justify-center
    a(@click="schoolEvent('todos')").font-bold.uppercase.py-2.px-6.small.button--ghost--cta.mx-2.mb-3 Todos
    a(@click="schoolEvent('cuerdas')").font-bold.uppercase.py-2.px-6.small.button--ghost.mx-2.mb-3 Cuerdas
    a(@click="schoolEvent('canto')").font-bold.uppercase.py-2.px-6.small.button--ghost.mx-2.mb-3 Canto
    a(@click="schoolEvent('viento')").font-bold.uppercase.py-2.px-6.small.button--ghost.mx-2.mb-3 Viento
    a(@click="schoolEvent('otros')").font-bold.uppercase.py-2.px-6.small.button--ghost.mx-2.mb-3 Otros
  .rex-container.grid-2col
    - for (let i = 0; i < school.length; i++)
      - let s = school[i]
        .to-center.l-block.s-90
          .card.card--mini-horizontal
            .card__img
              img(src=path_media + s.src)
            .card__content
              .card__title.uppercase.text-center.text-base(class="lg:text-lg")= s.name
              .card__body
                p.text-base= s.description
              footer.card__footer
                .card__user
                  .card__user-name
                    a(class="bg-white-trans text-green-800 font-semibold py-1 px-2 border border-green-500 rounded") <span class="pr-2">·</span>
                      span= `${s.type}`
                .card__button
                  a(href= path_page + "contactos").button--cta.small.py-2.px-4 Contáctenos