extends layouts/template
append config
  -currentPage = 'Inicio'
block banner
  .mx-auto.px-0.max-w-8xl
    ul.cb-slideshow
        li: span 01
        li: span 02
        li: span 03
        li: span 04
        li: span 05
        li: span 06
        li: span 07
        li: span 08
    .cb-slideshow__content
      ul.cb-slideshow.cb-slideshow_static
        li: div: h3= slogan
        li: div: h3 innovación, creación y formación artística
        li: div: h3 coros y orquestas infantiles
        li: div: h3 coros y orquestas juveniles
        li: div: h3 habilidades y valores en la formacion musical
        li: div: h3= slogan
        li: div: h3 innovación, creación y formación artística
        li: div: h3 habilidades y valores en la formacion musical
    //- include components/slider

  //- include components/flux-slider.html
block main
  .rex-item.rex-container
    h2.title.pl-3.py-3.bg-green-600.text-white.uppercase.m-2.text-center.rounded-lg.w-full
      span= slogan
  //- div.flex.container.flex-wrap.p-3.justify-center.w-full
    h2.text-center.w-full.text-3xl.uppercase(class="lg:text-6xl md:text-5xl sm:text-4xl") Solicita tu audición
    a(href=path_page + "solicitud-de-audicion" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full") Audiciona!