extends layouts/template
append config
  -currentPage = 'Los Profesores'
  - 
    profesors = [
      {
        name: 'Edson Giovanni Santos Vargas',
        src: 'images/profesores/giovanni-santos.jpg',
        job: 'Director general',
        mail: 'giovanni.santos22@gmail.com'
      },
      {
        name: 'Ana Rosa Quisbert Calle',
        src: 'images/profesores/ana-rosa-quisbert.jpg',
        job: 'Sub directora',
        mail: ''
      },
      {
        name: 'Daniel Alcon',
        src: 'images/profesores/daniel-alcon.jpg',
        job: 'Profesor y director de elencos corales',
        mail: ''
      },
      {
        name: 'Alejandro Cruz',
        src: 'images/profesores/alejandro-cruz.jpg',
        job: 'Concertino de la orquesta y profesor de elencos',
        mail: ''
      },
      {
        name: 'Jose Antonio Rojas',
        src: 'images/profesores/jose-antonio-mollericona.jpg',
        job: 'Profesor de violín',
        mail: ''
      },
      {
        name: 'Mitchell Soria',
        src: 'images/profesores/mitchell-soria.jpg',
        job: 'Solista y profesora de elencos',
        mail: ''
      }
    ]
block banner
  .mx-auto.px-0.max-w-8xl
    +banner(path_media + 'images/slides/slide01.jpg',  currentPage, '', '', true, false)
    //- p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam veritatis animi sint similique libero laboriosam dicta a necessitatibus. Ad fuga adipisci dolores natus at ratione doloremque reprehenderit! Quidem, accusantium esse.
    //- include components/slider

  //- include components/flux-slider.html
block main
  .rex-item.rex-container
    h2.title.pl-3.py-3.bg-green-600.text-white.uppercase.m-2.text-center.rounded-lg.w-full
      span= slogan
  .grid-3col.min-w-full
    - for (let i = 0; i < profesors.length; i++)
      - let p = profesors[i]
        div(class="p-6")
          img(class="w-11/12 border-solid border-2 rounded-full mx-auto" src= path_media + p.src)
          div(class="text-center pt-2")
            h2.text-2xl= p.name
            div.text-xl= p.job
            div
              a(href="mailto://giovanni.santos22@gmail.com")= p.mail