extends layouts/template
append config
  -currentPage = 'Nosotros'
block banner
  .mx-auto.px-0.max-w-8xl
    +banner(path_media + 'images/slides/slide01.jpg',  currentPage, '', '', true, false)

  //- include components/flux-slider.html
block main
  .rex-item.rex-container
    h2.title.pl-3.py-3.bg-green-600.text-white.uppercase.m-2.text-center.rounded-lg.w-full
      span Quienes somos?
  <div class="rex-item rex-container text-lg">
    div.rex-item
      p.mb-3 La <b>Sociedad orquestal y coral de La Paz</b> tiene muchos objetivos que se están llevados a cabo, entre ellos esta el de levantar y difundir varios coros y orquestas, infantiles y juveniles, también cuenta con su propio programa de educación inicial en convenio con el centro cultural Creactivo.
    //- div.rex-item.l-65
      img.mb-4(class="object-cover border-solid border-2 rounded-full" src= path_media + "images/soclp-light-bg.png", alt="")
    div.rex-item.m-50
      p.mb-3 El último concierto ofrecido en la catedral metropolitana de La Paz la segunda semana de diciembre presentó la primera sinfonía de Mozart y villancicos tradicionales, el cual tuvo un éxito rotundo y contentó a la gente que se dio cita en el mismo, 130 personas aproximadamente entre coralistas e instrumentistas, cantaron y tocaron las maravillosas piezas escogidas para tan bella noche.
    div.rex-item.m-50
      p.mb-3 El coro y orquesta principal vienen realizando conciertos durante el último tiempo, cosechando aplausos de un nuevo público sediento de un nuevo sonido pulcro y solido.
      p.mb-3 Lo mejor de todo fue la motivación que dejó, el de seguir mirando adelante impulsando los anhelos propuestos a futuro, avanzando paso a paso firme y con valentía!! SOCLP con todo!!
    div.rex-item.m-50
      h3.title.pl-3.py-3.bg-green-600.text-white.uppercase.text-center.rounded-lg.w-full Misión
      p.mb-3 Consolidar una organización de coros y orquestas que sean Referente de calidad nacional e internacional caracterizados por la innovación, creación y formación artística.
    div.rex-item.m-50
      h3.title.pl-3.py-3.bg-green-600.text-white.uppercase.text-center.rounded-lg.w-full Visión 
      p.mb-3 La enseñanza y aprendizaje de los alumnos con un nuevo enfoque pedagógico, trabajando en base a habilidades y valores desarrollados desde la música.
  </div>