extends layouts/template
append config
  -currentPage = 'Producciones'
block banner
  .mx-auto.px-0.max-w-8xl
    +banner(path_media + 'images/slides/slide01.jpg',  currentPage, '', '', true, false)
  //- include components/flux-slider.html
block main
  .rex-item.rex-container
    h2.title.pl-3.py-3.bg-green-600.text-white.uppercase.m-2.text-center.rounded-lg.w-full
      //- span= slogan
      span Nuestras producciones
  .rex-item.rex-container.l-75.mx-auto.mt-4.gallery
    .rex-item.m-50
      a(href=path_media + "images/producciones/cartel01.jpg")
        img.mb-8.scale-1-1(src=path_media + "images/producciones/cartel01.jpg", alt="")
      a(href=path_media + "images/producciones/cartel04.jpg")
        img.mb-8.scale-1-1(src=path_media + "images/producciones/cartel04.jpg", alt="")
      a(href=path_media + "images/producciones/cartel03.jpg")
        img.mb-8.scale-1-1(src=path_media + "images/producciones/cartel03.jpg", alt="")
    .rex-item.m-50
      a(href=path_media + "images/producciones/cartel02.jpg")
        img.mb-8.scale-1-1(src=path_media + "images/producciones/cartel02.jpg", alt="")
      a(href=path_media + "images/producciones/cartel05.jpg")
        img.mb-8.scale-1-1(src=path_media + "images/producciones/cartel05.jpg", alt="")
      a(href=path_media + "images/producciones/cartel06.jpg")
        img.mb-8.scale-1-1(src=path_media + "images/producciones/cartel06.jpg", alt="")