extends layouts/template
append config
  -currentPage = 'Solicita tu audición!'
block banner
  .mx-auto.px-0.max-w-8xl
    +banner(path_media + 'images/slides/slide01.jpg',  currentPage, '', '', true, false)
  //- include components/flux-slider.html
block main
  .rex-item.rex-container
    h2.title.pl-3.py-3.bg-green-600.text-white.uppercase.m-2.text-center.rounded-lg.w-full
      span= slogan
  .rex-item.l-60.py-2.pl-2.pr-2.text-center.flex.items-center(class="lg:pr-0")
    <carousel :autoplay="true" :per-page="1" :loop="true">
      <slide>
        img(src=path_media + 'images/audiciones-corales.jpg', alt="Audiciones corales")
      </slide>
      <slide>
        img(src=path_media + 'images/audiciones-orquestales.jpg', alt="Audiciones orquestales")
      </slide>
    </carousel>
  .rex-item.l-40.py-2.pr-2.text-center
    h2.border-2.border-green-base.pl-3.py-3.text-green-base.uppercase.mb-3.rounded-lg Llena el formulario
    form.rex-container.form(v-on:submit.prevent="submitFormSolicitud")
      .rex-item.form__item
        label.form__label(for="") Nombre completo: 
        input.form__input(v-model="vue.nombre" type="text" required="")
      .rex-item.form__item
        label.form__label(for="") Teléfono: 
        input.form__input(v-model="vue.telefono" type="number")
      .rex-item.form__item
        label.form__label(for="") Celular: 
        input.form__input(v-model="vue.movil" type="number" required="")
      .rex-item.form__item
        label.form__label(for="") Dirección: 
        input.form__input(v-model="vue.direccion" type="text" required="")
      .rex-item.form__item
        label.form__label(for="") Ciudad: 
        input.form__input(v-model="vue.ciudad" type="text" required="")
      .rex-item.form__item
        label.form__label(for="") Email: 
        input.form__input(v-model="vue.email" type="email" required="")
      .rex-item.form__item
        label.form__label(for="") Mensaje: 
        textarea.form__input(v-model="vue.mensaje" name="", cols="30", rows="10" required="")
      .rex-item.form__item.flex.justify-center
        button.button.small.mx-2.py-2.px-4(type="submit") Solicitar Audición
        button.button.small.mx-2.py-2.px-4(type="submit" v-on:click="clearForm()") Limpiar
      .statusMessage(v-if="formSubmitted")
        h4(v-text="vue.envio")