.button--goup{
  // background: var(--third-color);
  // color: white;
  width: 50px;
  padding: 0;
  position: fixed;
  bottom: 1.2rem;
  right: 0;
  z-index: var(--z-fixed);
  opacity: .7;
  &:hover{
    background: var(--first-color);
  }
  &.fade-in{
    opacity    : 1;
    transform  : translateY(0);
    transition : 0.5s all;
  }
  &.fade-out{
    opacity    : 0;
    transform: translateY(200%);
    transition : 0.5s all;
  }
}