.main-banner {
  background    : var(--first-color);
  color         : #FFF;
  // clip-path     : polygon(0 0, 100% 0, 100% 100%, 0 94%);

  &.main-banner--secondary { background : var(--second-color)  }
  &.main-banner--tertiary  { background : var(--third-color)  }
  &.main-banner--accent    { background : var(--accent-color) }
  &.main-banner--dark      { background : var(--dark-color)   }
  &::after {
    content: '';
    box-shadow: inset 0px -5px 10px 30px rgba(0, 1, 0, 0.47058823529411764);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.main-banner__img {
  position   : absolute;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 100%;
  object-fit : cover;
  // opacity    : .1;
}

.main-banner__data {
  position      : relative;
  text-align    : center;
}

.main-banner__author {
  color: #fff;
  margin-top : -1.5rem;

  a {
    color: inherit;
  }

  &-img {
    width : 6rem;
    height : 6rem;
    border-radius : 50%;
    border : 2px solid;
    display : block;
    margin : 0 auto;
  }

  &-name {
    font-size : var(--small);
  }
}
