.title, [class*="title--"]{
  color: #FFF;
  background: linear-gradient(180deg, var(--first-color), #{'hsl(var(--first-HS), 50%)'});
}
.title--second   {  }
.title--tertiary {  }
.title--dark     {  }
.title--accent   {  }