.google-map{
  width: 100%;
  @include to(l) {
    padding-top: 75%;
  }
  @include from(l) {
    height: calc(100% - 60px);
  }
  margin-bottom: 1rem;
  .firstHeading{
    color: var(--text-color);
    text-shadow: none;
  }
  p{
    color: var(--text-color);
  }
}