- var currentPage = 'Inicio'
- var siteName = 'SOCLP -'
- var slogan = 'Sociedad orquestal y coral de La Paz'
- var description = 'Consolidar una organización de coros y orquestas que sean Referente de calidad nacional e internacional caracterizados por la innovación, creación y formación artística.'

//-Site Version
- var siteVersion = '54634rtdfhe4523ghsrtn'

//- Root images/svg
- var path_media = '/assets/'

//- Root pages
- var path_page = '/'

//- profesores
- let profesors = []
//- escuela de musica
- let school = []