td [class*="button"] {
  display: inline;

  &:last-child {
    margin-right : 0;
  }
}
.made-in{
  opacity: .28;
  &:hover{
    opacity: 1;
  }
}

.bottom--3 {
  bottom: -3rem;
}
.headroom\:unpinned {
  .bottom--3 {
    bottom: 30rem;
  }
}
.logo\:headroom {
  transform: scale(1.5);
  transition: ease-in-out .2s transform;
}
.headroom\:top {
  .logo\:headroom {
    transform: scale(2);
    transform-origin: top center;
    @include from(m) {
      transform: scale(3.5);
    }
  }
}
.headroom\:not-top.headroom\:pinned {
  nav {
    background: rgba(255, 255, 255, 0.836);
  }
  .logo\:headroom {
    transform-origin: top center;
    transform: scale(2);
  }
}

.border-ridge {
  border-style: ridge;
}
.bg-white-trans {
  background: hsla(0, 0%, 100%, 0.5);
}
.bg-white-tr {
  background: hsla(0, 0%, 100%, 0.8);
}

// gridCSS
.grid-3col {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  @include from (m) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include from (l) {
    grid-template-columns: repeat(3, 1fr);
  }
}
//gridTeam
.grid-team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

//gridGallery
.grid-4col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  @include from (m) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include from (l) {
    grid-template-columns: repeat(4, 1fr);
  }
}
//gridGallery
.grid-2col {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  @include from (m) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include from (l) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.text-shadow-retro {
  text-shadow: 4px 3px 0 #7A7A7A;
}
.gallery {
  img {
    transition: .2s ease-in-out transform;
  }
  .gallery-pall {
    top: 0;
    left: 0;
    position: absolute;
    @include mainCenter;
    @include crossCenter;
    width: 100%;
    height: 100%;
    color: #ece8e8;
    opacity: 0;
    background: radial-gradient(transparent, rgba(0, 0, 0, 0.739));
    transition: .2s ease-in-out opacity;
    svg {
      transition: .2s ease-in-out transform;
      transform: scale(0);
    }
  }
  a:hover {
    .scale-1-1 {
      transform: scale(1.03);
    }
    .scale-1-2 {
      transform: scale(1.2);      
    }
    .gallery-pall {
      opacity: 1;
      svg {
        transform: scale(1);
      }
    }
  }
}


// transitions vue 
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
