footer.text-white
	div.bg-green-700.container.mx-auto.rounded-t-lg(style="background-image: url(./assets/images/bg-soclp-dark.png);")
		div(class='lg:flex-row').container.flex.flex-col.items-center.justify-between.pt-8.border-b.border-gray-600
			div(class='lg:mb-0').mb-8.mx-10
				div.mb-5
					h2.mb-3.underline.uppercase: span= slogan
					b Direccion: 
					span.mx-2 Av. Illimani 1914 Edif. Marecos
					a.mx-2.button.inline-flex(href= path_page + "contactos" class="bg-green-500 hover:bg-green-600 text-white font-bold py-1 px-3 rounded-full")
						<svg width='20' height='20' fill='currentColor' aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-3x"><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg>
						span.ml-2 Como llegar
				div
					b Horarios de atención: 
					ul
						li.flex.items-center.mb-0 - Lunes a viernes de 
							span.text-xl.ml-2 9:00–12:00, 14:00–22:00
						li.flex.items-center - Sábados de 
							span.text-xl.ml-2 9:00–12:00, 14:00–18:00

			div.mx-5
				h2.mb-5.underline Contactanos:
				a(target="_blank" href="https://api.whatsapp.com/send?phone=59170169448").flex.text-white.mb-4.items-center.justify-center.w-full
					img.w-10(src= path_media + "images/whatsapp.png", alt="whatsapp" + slogan)
					span.ml-1.t2 70169448
				.flex.text-white.mb-4.items-center.justify-center.w-full
					svg(width='25' height='20' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
						path(d='M2.5 0h20A2.5 2.5 0 0 1 25 2.5v15a2.5 2.5 0 0 1-2.5 2.5h-20A2.5 2.5 0 0 1 0 17.5v-15C0 1.125 1.125 0 2.5 0zm20 4.225V2.5h-20v1.725l10 5 10-5zm0 2.8l-9.438 4.713a1.25 1.25 0 0 1-1.124 0L2.5 7.025V17.5h20V7.025z' fill-rule='nonzero')
					span.ml-3 soclp.bo@gmail.com
				ul.flex.items-center.justify-center.mx-10.mb-4
					li.mx-3
						a.text-white(href='https://www.youtube.com/user/giovasan1985' target='_blank' class='hover:text-gray-400')
							<svg width='30' height='30' fill='currentColor' aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-youtube fa-w-18 fa-3x"><path fill="currentColor" d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z" class=""></path></svg>
					li.mx-3
						a.text-white(href='https://www.facebook.com/SOClapaz/' target='_blank' class='hover:text-gray-400')
							<svg width='30' height='30' fill='currentColor' aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-facebook fa-w-16 fa-3x"><path fill="currentColor" d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z" class=""></path></svg>
					li.mx-3
						a.text-white(href='https://www.instagram.com/soclp/' target='_blank' class='hover:text-gray-400')
							<svg width='30' height='30' fill='currentColor' aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-instagram fa-w-14 fa-3x"><path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" class=""></path></svg>
		div
			p.text-center.mb-1.pt-2 Todos los Derechos Reservados ® 
				span= slogan 
				| © 
				span#currentDate
			p.pb-1.text-center: a.opacity-25(class="hover:opacity-40" href='https://nandes2062.github.io/', target='_blank') Diseño y Programación: Fernando Averanga
