headroom(:classes="classes" @pin="menuActive = false" @unpin="menuActive = false")
  header
    nav(style='background-image: url("./assets/images/bg-soclp-light.png");').relative.rounded-b-lg.container.mx-auto.flex.flex-nowrap.justify-between.items-center.h-20.border-l.border-r.border-b.border-t-8.border-green-700.shadow-2xl.mb-3
      div(class="lg:w-4/12 w-full").flex.justify-center
        a(href= path_page + "")
          img.object-cover.w-16.h-16.border-solid.border-2.rounded-full(class="logo:headroom" alt=slogan src= path_media + 'images/soclp-light-bg.png')
      div.flex.flex-wrap.justify-end.items-end.h-full.w-full.pr-2
        //- menu desktop
        ul.uppercase.tracking-wide.font-bold.w-56.block.flex-grow.items-center.mt-8.absolute.flex-col.top-5.right-0.hidden(class='lg:flex lg:relative lg:flex-row lg:flex-initial lg:mt-0 lg:w-full lg:top-0')
          //- dark mode, light mode
          li.w-full.mx-1(class="w-1/4" v-for="(item, id) in mainmenu" :key="id")
            a.border-ridge.border-green-300.flex.items-center.justify-center.leading-none.w-full.h-12(:class="item.class === 'accent' ? 'bg-accent-500 border-accent-400 hover:bg-accent-500':'bg-green-500 hover:bg-green-500'" class='button text-white font-bold py-2 px-4 rounded-full hover:text-gray-100' :href="path_page + item.href")
              span.text-xs(v-text="item.title.toUpperCase()")
        //- menu mobile
        transition(name="fade")
          ul.flex.uppercase.tracking-wide.font-bold.w-56.block.flex-grow.items-center.mt-8.absolute.flex-col.top-5.right-0(class='lg:relative lg:flex-row lg:flex-initial lg:mt-0 lg:w-full lg:top-0 lg:hidden' v-show="menuActive")
            //- dark mode, light mode
            li.w-full.mx-1(class="w-1/4" v-for="(item, id) in mainmenu" :key="id")
              a.border-ridge.border-green-300.flex.items-center.justify-center.leading-none.w-full.h-12(:class="item.class === 'accent' ? 'bg-accent-500 border-accent-400 hover:bg-accent-500':'bg-green-500 hover:bg-green-500'" class='button text-white font-bold py-2 px-4 rounded-full hover:text-gray-100' :href="path_page + item.href")
                span.text-xs(v-text="item.title.toUpperCase()")
      ul.flex.self-start.absolute.bottom--3.right-0
        //- <li class="mx-5 mt-3"><a class="text-copy-primary hover:text-gray-600" href="#">
        //-   <svg class="feather feather-moon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        //-     <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
        //-   </svg></a>
        //- </li>
        li.mx-1.mt-3(v-for="(item, id) in menuinicio" :key="id")
          a(:href="path_page + item.href" class="bg-white-trans hover:bg-green-500 text-green-500 font-semibold hover:text-white py-1 px-2 border border-green-500 hover:border-transparent rounded")
            span(v-text="item.title")
      //- menu mobile    
      .block(class='lg:hidden pr-3')
        button.flex.items-center.px-3.py-2.border.rounded.border-white(class='border-ridge border-green-300 flex items-center justify-end leading-none w-full h-12 button text-white font-bold py-2 px-4 rounded-full hover:text-white bg-first-500 border-first-400 hover:bg-first-500' @click="menuActive = !menuActive")
          span.pr-3 MENU
          svg.current-color.h-3.w-3(viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
            path(d='M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z' fill='white')

