include ../mixins/main-banner
//- .slider-next.button NEXT
//- .slider-prev.button PREV
.rex-container(style= "display:none;")
  .slider-prev <i class="icon-left"></i>
  .slider-next <i class="icon-right"></i>
.rex-slider
  +banner(path_media + 'images/slides/slide01.jpg',  siteName + ' Styleguides', 'La presente guía de estilos define los componentes de diseño de ' + siteName + ' y cómo implementarlos en nuestros productos.', '', true, false)
  +banner(path_media + 'images/slides/slide02.jpg',  siteName + ' Styleguides', 'La presente guía de estilos define los componentes de diseño de ' + siteName + ' y cómo implementarlos en nuestros productos.', '', true, false)
  +banner(path_media + 'images/slides/slide03.jpg',  siteName + ' Styleguides', 'La presente guía de estilos define los componentes de diseño de ' + siteName + ' y cómo implementarlos en nuestros productos.', '', true, false)
  +banner(path_media + 'images/slides/slide04.jpg',  siteName + ' Styleguides', 'La presente guía de estilos define los componentes de diseño de ' + siteName + ' y cómo implementarlos en nuestros productos.', '', true, false)
  +banner(path_media + 'images/slides/slide05.jpg',  siteName + ' Styleguides', 'La presente guía de estilos define los componentes de diseño de ' + siteName + ' y cómo implementarlos en nuestros productos.', '', true, false)
  +banner(path_media + 'images/slides/slide06.jpg',  siteName + ' Styleguides', 'La presente guía de estilos define los componentes de diseño de ' + siteName + ' y cómo implementarlos en nuestros productos.', '', true, false)
  +banner(path_media + 'images/slides/slide07.jpg',  siteName + ' Styleguides', 'La presente guía de estilos define los componentes de diseño de ' + siteName + ' y cómo implementarlos en nuestros productos.', '', true, false)
  +banner(path_media + 'images/slides/slide08.jpg',  siteName + ' Styleguides', 'La presente guía de estilos define los componentes de diseño de ' + siteName + ' y cómo implementarlos en nuestros productos.', '', true, false)
