// This file doesn't generate any css
@mixin button {
  display         : inline-block;
  padding         : 1em 2em;
  background      : var(--first-color);
  color           : #FFF;
  margin-right    : 2rem;
  cursor          : pointer;
  text-decoration : none;
  border-radius   : .25rem;
  transition      : transform .05s;
  border          : none;
  text-align      : center;
  box-shadow: 0 2px 8px rgba(0,0,0,.5), inset 0 1px hsla(0,0%,100%,.3), inset 0 10px hsla(0,0%,100%,.2), inset 0 10px 20px hsla(0,0%,100%,.25), inset 0 -15px 30px rgba(0,0,0,.3);

  &:hover {
    background      : #{'hsl(var(--first-HS), 42%)'};
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    text-decoration : inherit;
  }

  &:active {
    transform : scale(.99)
  }
}

@mixin button-small {
  padding : .5rem 1rem;
  font-size: var(--small);
}

@mixin button-center {
  display     : table;
  margin-left  : auto;
  margin-right : auto;
}

@mixin button-full {
  margin-right : 0;
  margin-left  : 0;
  width        : 100%;
}

@mixin button-last {
  margin-right: 0;
}

@mixin button-second {
  background : var(--second-color);

  &:hover {
    background : var(--second-color-alt);
  }
}

@mixin button-alert {
  background : var(--third-color);

  &:hover {
    background : var(--third-color-alt);
  }
}

@mixin button-cta {
  background : var(--accent-color);

  &:hover {
    background : var(--accent-color-alt);
  }
}

@mixin button-ghost {
  color      : var(--first-color);
  background : none;
  border     : 1px solid;

  &:hover {
    background   : var(--first-color);
    color        : #FFF;
    border-color : transparent;
  }
}

@mixin button-ghost-second {
  color : var(--second-color) ;

  &:hover {
    background : var(--second-color);
    color      : #FFF;
  }
}

@mixin button-ghost-alert {
  color : var(--third-color);

  &:hover {
    background : var(--third-color);
    color      : #FFF;
  }
}

@mixin button-ghost-cta {
  color : var(--accent-color);

  &:hover {
    background : var(--accent-color);
    color      : #FFF;
  }
}
