// Colors
$firstColor     : #3998d4;
$firstColorAlt  : #9ccaed;
$secondColor    : #262f42;
$secondColorAlt : #2f3a52;
$thirdColor     : #FF3C32;
$thirdColorAlt  : #FF2419;
$accentColor    : #FBA905;
$accentColorAlt : #F1A000;

// Complementary colors
$darkColor   : #282D31;
$borderColor : #e2e7ec;
$textColor   : #53575A;
$bodyBg      : #FAFDFF;


// map for colors
$primaryColors: (
  --first: $firstColor,
  --second: $secondColor,
  --third: $thirdColor,
  --accent: $accentColor,
  --dark: $darkColor,
);

:root{
  --first-color: #492e80;
  --first-HS: 260, 47%;
  --first-HSL: 260, 47%, 34%;
  // --first-color: #{$firstColor};
  --first-color-alt  : #{$firstColorAlt};
  --second-color: #{$secondColor};
  --second-color-alt : #{$secondColorAlt};
  --third-color: #{$thirdColor};
  // @include colors    (--third, $thirdColor, 3,2);
  --third-color-alt  : #{$thirdColorAlt};
  // @include colors    (--accent,$accentColor,3,2);
  --accent-color: #e4a00d;
  --accent-HS: 41, 89%;
  --accent-HSL: 41, 89%, 47%;
  --accent-color-alt : #{$accentColorAlt};
  
  // Complementary colors
  --dark-color       : #{$darkColor};
  --border-color     : #{$borderColor};
  --text-color       : #{$textColor};
  --body-bg          : #{$bodyBg};
  --bg-color: #ffffff;
}
:root {
  --bg-background-primary: white;
  --bg-background-secondary: #f7fafc;
  --bg-background-tertiary: #e2e8f0;

  --bg-background-form: white;

  --text-copy-primary: #2d3748;
  --text-copy-secondary: #4a5568;

  --border-border-color-primary: white;
}